@use '../abstracts/' as *;
@use '../base/' as *;

.different {
  padding: 5rem 1rem 5rem 1rem;
  text-align: center;
  &__title {
    padding: 1rem 0;
    font-family: $ff-primary-dm-serif;
    font-weight: 400;
    font-size: 3rem;
    border-top: 1px solid black;
    
  }

  &__icon {
    margin: 0 auto;
    padding: 3rem 0 1rem 0;
  }
  &__subtitle {
    font-family: $ff-primary-dm-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem 0;
  }
}
